<div class="container p-5">
  <div class="row p-3">
    <div class="mx-auto">
      <div class="d-flex align-items-center justify-content-center p-3">
        <h2><span class="bg-light">About<span></h2>
      </div>

      <p tyle="emphasis">
        このサイトは街の名所や気に入ったスポットなどの画像を共有するSNSサイトです。<br>
        コロナの影響で外出をするのが少なくなった今だからこそ、このサイトを見て旅行に行きたいと思ってほしい。 <br>
        そして、その地の良かったところをたくさんの人と共有してほしいと思いました。<br>
        あなたも気に入った風景を写真に収めて、誰かとその景色を共有してみてください。
      </p>
      <div class="d-flex align-items-center justify-content-center">
        <%= image_tag 'admin.jpg', size: '650x450', class: "img-fluid" %>
      </div>
    </div>
  </div>
</div>