<div class="background cover align-middle">
  <div class="text-center">
    <p class="sub-title">思い出の風景を共有しよう</p>
    <h1 class="title mb-2">Traveler</h1>
    <h2 class="btn btn-success">
      <a href="users/sign_up">新規投稿</a>
    </h2>
    <h2 class="btn btn-secondary">
      <a href="about">About</a>
    </h2>
    <h2 class="btn btn-primary mb-2">
      <a href="users/sign_in">ログイン</a>
    </h2>
    <h2 class="btn btn-info">
      <a href="guest_sign_in">ゲストログイン</a>
    </h2>

  </div>
</div>