<div class="container">
  <div class="row">
    <div class="col-auto">
      <%= image_tag 'mountain-477832_1280', size: '1000x900', class: "img-fluid" %>
        <p style="font-family: Hiragino Maru Gothic Pro;" >
          Welcome to Thank you for comin！<br>
          自分の知らない風景を探しに行きましょう！
        </p>

      <h3>新着投稿</h3>
        <div class="tweets-content">

        </div>

    </div>
  </div>
</div>