<div class="background cover align-middle d-flex align-items-center justify-content-center">
  <div>
    <h4 class="sub-title text-center">思い出の風景を共有しよう</h4>
    <h1 class="title mb-2 text-center">Traveler</h1>
    <div class="text-center">
      <h2 class="btn btn-success">
        <a href="users/sign_up" class="text-dark">新規投稿</a>
      </h2>
      <h2 class="btn btn-light">
        <a href="about" class="text-dark">About</a>
      </h2>
      <h2 class="btn btn-primary">
        <a href="users/sign_in" class="text-dark">ログイン</a>
      </h2>
      <h2 class="button text-center">
        <%= button_to 'ゲストログイン', guest_sign_in_path, class: "text-dark btn btn-info" %>
      </h2>
    </div>
  </div>
</div>