<p class="notice"></p>
<div class="container px-5 px-sm-0">

    <div class="row">
      <div class="col-md-8 offset-md-1">
        <h2>Tweets</h2>
          <table class="table">

            <tbody>
              <% @tweets.each do |tweet| %>
                <tr>
                  <td>
                    <%= link_to tweet_path(tweet.id) do %>
                      <%= image_tag tweet.get_tweet_image,size: "300x250" %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to tweet_path(tweet.id) do %>
                      <%= tweet.content %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
</div>
