<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="mt-5 offset-md-1">
      <h2><span class="bg-light">登録情報</span></h2>
      <table class="table">
        <tr>
          <td class="table-active">プロフィール画像</td>
          <td>
            <%= image_tag @user.get_profile_image,size: "250x250" %>
          </td>
        </tr>
        <tr>
          <td class="table-active">氏名</td>
          <td>
            <%= @user.last_name %> <%= @user.farst_name %>
          </td>
        </tr>
      </table>

      <div>
        <%#= link_to "#{tweet.tweet_comments.count}コメント", tweet_path(tweet.id) %>
      </div>

      <% if user_signed_in? %>
        <div class="mt-5 offset-md-1">
          <%= link_to "編集する", edit_user_path, class: 'btn btn-success' %>
        </div>
      <% end %>

    </div>
  </div>
</div>